* { padding: 0; margin: 0; }
@font-face {
    font-family: "Ubuntu";
    src: url(ubuntu.ttf);
}
body {width:87%; margin-left: auto; margin-right: auto;}
header {font-family: "Ubuntu"; text-align:center;}
header a {color:#000000; text-decoration: none;}
nav {margin-top: 20px; margin-right:10px; font-family: "Ubuntu"; font-size:3em; }
nav p {padding-bottom:40px;}
nav a {color:#9400D3;}
article p {margin-top: 20px; font-family: "Ubuntu"; text-align:center; }
input {font-size:1.2em; font-family: "Ubuntu"}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
